main .login{
    width: 90%;
    background: #666;
    display: flex;
}

main .loginingreso{
    align-content: center;
    width: 100%;
    border: none;
    border-radius: 6px;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #FFF;
    font-size: 14px;
    font-weight: bold;
}
.ingresar{
    text-decoration: none;
    width: 90%;
    margin: 0 auto;
width: 40%;
}
.botonlogin{
    color: #FFF;
    background:  #1259c3;
    width: 100%;
    border: none;
    border-radius: 6px;
    margin-bottom: 15px;
    padding: 11px 10px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 30px;
}
